<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>
</head>
<body>
<div id="draw-zone">
    <div>
        <select id="search-type">
            <option value="1">name</option>
            <option value="2">sex</option>
        </select>
        <input id="search-value" type="text">
        <button onclick="searchName()">Search</button>
    </div>
    <table id="simple-data-table">
        <thead>
        <tr>
            <th></th>
            <th>아이디</th>
            <th>이름</th>
            <th>성별</th>
            <th>생일</th>
        </tr>
        </thead>
    </table>
</div>


<!--아래처럼 custorm Form으로도 할수 있고, editor에 직접 선언할수도있다.-->
<!--<div id="customForm">-->
    <!--<fieldset class="office">-->
        <!--<legend>Office</legend>-->
            <!--<select editor-field name="sex">-->
                <!--<option value="MAN">man</option>-->
                <!--<option value="WOMAN">woman</option>-->
            <!--</select>-->
    <!--</fieldset>-->
    <!--<fieldset class="hr">-->
        <!--<legend>HR info</legend>-->
        <!--<editor-field name="name"></editor-field>-->
    <!--</fieldset>-->
<!--</div>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="/DataTables/datatables.min.js"></script>
<script>
    'use strict'
    let editor;
    let table;
    $(document).ready(function () {
        editor = new $.fn.dataTable.Editor({
            ajax: {
                edit: {
                    url: '/api/user/edit',
                    method: 'post',
                    data: function (data) {
                        let _data;
                        for (let x in data.data) {
                            _data = data.data[x];
                        }
                        return _data;
                    }
                },
                remove: {
                    url: '/api/user/remove',
                    method: 'post',
                    data: function (data) {
                        let _data;
                        for (let x in data.data) {
                            _data = data.data[x];
                        }
                        return _data;
                    }
                },

                create :{
                    url : '/api/user/edit',
                    method : 'post',
                    data : function(data){
                        let _data;
                        for(let x in data.data){
                            _data = data.dta[x];
                        }
                        return _data;
                    }
                },
            },
            // template: '#customForm',
            table: '#simple-data-table',
            fields: [
                // type : hidden 에 관한 정보 https://editor.datatables.net/reference/field/
                {label: 'id', name: 'id', type: 'hidden'},
                // type : 'radio'
                // type : 'select'
                {
                    label: 'sex', name: 'sex', type: 'radio', options: [
                        {label: "MAN", value: 'Man'},
                        {label: "WOMAN", value: 'Woman'}
                    ],
               },

                {label: 'Name', name: 'name'},
                //https://editor.datatables.net/examples/dates/dates.html
                {
                    label: 'Birthday',
                    name: 'birthday',
                    type: 'datetime',
                    data : function(data){
                        return moment(data.birthday).format('YYYY-MM-DD');
                    },
                    def: function () {
                        return new Date();
                    },
                    format: 'YYYY-MM-DD',
                    fieldInfo: '년-월-일'
                }
            ],
            idSrc: 'id'
        })
        // 최근 버전의 API가 DataTable 로 바뀌었다. 대소문자를 구별 하니 주의.
        table = $('#simple-data-table').DataTable({
            ajax: {
                url: '/api/user/find',
                method: 'get',
                data: function (req) {
                    req.searchType = $('#search-type option:selected').val();
                    req.keyWord = $('#search-value').val();
                },
                error: function (err) {
                    return err;
                }
            },
            searching: true,
            ordering: true,
            severSide: false,
            lengthMenu : [10,25,50],
            processing: true,
            select: 'single',
            // pagingType : 'full',
            // pagingType : 'simple',
            // pagingType : 'numbers',
            pagingType : 'full_numbers',
            paging : true,
            lengthChange : true,
            dom: 'Bfrtip',
            buttons: [
                {extend: "create", editor: editor},
                {extend: "edit", editor: editor},
                {extend: "remove", editor: editor},
                'pageLength',
                'copy',
                'pdf',
                'excel'
            ],
            columns: [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox'
                },
                {data: 'id'},
                {data: 'name'},
                {data: 'sex'},
                {data: 'birthday', type : 'date',  render : function(data){
                    return moment(data).format('YYYY-MM-DD');
                    }}
            ],
            order: [1, 'asc'],
            rowGroup: {
                dataSrc: 'id'
            }
        })
    });

    function searchName() {
        'use strict'
        table.ajax.reload();
    }
</script>
</body>
</html>